/* Variables */
:root {
  --color-primary: #8b5cf6;
  --color-background: #ffffff;
  --color-text: #111827;
}

/* Base */
html,
body {
  margin: 0;
  padding: 0;
  background: var(--color-background);
  color: var(--color-text);
}