---
import type { Page } from '../types/clientWebsite';

import { getPageContent } from '../lib/getPageContent';
const page = await getPageContent({
  locals: Astro.locals,
  params: {
		path: 'index'
	}
});
---

<html>
	<head>
		<title>{page.title}</title>
	</head>
	<body>
	</body>
</html>
